.container-cart{
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-gap: 32px;
  justify-content: center;
  padding-top: 32px;

}

.cart-elem{
  height: 480px;
  background: aliceblue;
}
.cart-elem:hover{
  box-shadow: 8px 8px 8px #E89F71;
}

.card-elem-picture{
  width: 285px;
  height: 301px;
  background: blueviolet;
}
.card-elem-info{
  display: flex;
  flex-direction: column;
  .card-elem-title{
    font-family: Gilroy,sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #3A3A3A;
    padding: 0px 0px 8px 16px;
  }
  .card-elem-article{
    font-family: Gilroy,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding: 16px 0px 8px 16px;
    color: #898989;
  }
  .card-elem-price{
    font-family: Gilroy,sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #3A3A3A;
    padding: 16px 0px 8px 16px;
  }
  .add-card{
    background: black;
  }
}
