.dropping-list{
  $fontweight-navigation: 500;
  $fontsize-navigation: 16px;
  $color-navigation: #3A3A3A;
  $margin-navigation: 0 8px;

  display: flex;
  list-style: none;
  .dropping-item{
    font-family: Gilroy,sans-serif;
    font-weight: $fontweight-navigation;
    font-size: $fontsize-navigation;
    line-height: 150%;
    color: $color-navigation;
    margin: $margin-navigation;
    display: flex;
    &:after{
      content: "";
      display: block;
      width: 11px;
      height: 11px;
      border-top: 2px solid #3A3A3A;
      border-right: 2px solid #3A3A3A;
      margin-right: 47px;
      margin-left: 12px;
      transform: rotate(135deg);
    }
  }
  .__item{
    font-family: Gilroy,sans-serif;
    font-weight: $fontweight-navigation;
    font-size: $fontsize-navigation;
    line-height: 150%;
    color: $color-navigation;
    margin: $margin-navigation;
    display: flex;
  }
}