.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10% 0;
}

.window-modal {
  width: 400px;
  height: 130px;
  position: relative;
  border-radius: 4px;
  margin: 0 auto;
  background: antiquewhite;
}

.close {
  color: #3A3A3A;
  position: relative;
  left: 5px;
  top: 5px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

