#root {
  max-width: 1440px;
  margin: 0 auto;
}
.container-top{
  padding: 0 12px;
  background: linear-gradient(to left, #FCF8F3 50%, #F9F1E7 50%);
}
.container-carousel{
  display: flex;
  flex-direction: row;
}