.container-header{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 44px;
  .logo-company{
    font-family: Gilroy,sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
}
.icons-fun{
  margin: 0 25px;
  position: relative;
}
.counter-icon{
  font-family: Gilroy,sans-serif;
  position: absolute;
  top: -7px;
  color: #ff6431;
  animation: pulsing 2s infinite;
}
@keyframes pulsing {
  0% {
    transform: scale(0.7, 0.7)
  }
  50% {
    transform: scale(1.0, 1.0);
  }
  100% {
    transform: scale(0.7, 0.7);
  }
}



.all-container-icon{
  display: flex;
}
